[flake8]
exclude =
    .git,
    __pycache__,
    test,
    build,
    dist

max-line-length = 110
max-complexity = 25
addons = file,open,basestring,xrange,unicode,long,cmp
ignore =
    E266,  # too many leading '#' for block comment
    E731,  # do not assign a lambda expression, use a def
    E203,  # whitespace before ':'
